<template>
  <div class=".cruds__index">
    <ol v-for="pessoa of pessoas" :key="pessoa.id_pessoa">
      <li>
        .......... {{pessoa.nome}}
        <img src="@/assets/Vegeta.png"
        style="max-width: 10%; max-height: 30%; display: block; margin: -40px "
        @click="deletePessoa(pessoa.id_pessoa)" alt="deletar" class="deletar">
        ........... clique no Vegeta para deletar
    <p> ........... </p>
      </li>
    </ol>
    <router-link :to="{
        path: `/pessoas/new`,
        component: 'pages/pessoas/new.vue',
        }">
    <a> Nova Pessoa </a>
    </router-link>
  </div>
</template>

<script>
import Pessoa from '@/components/Pessoa.vue';

export default {
  components: {
    Pessoa
  },
  data() {
    return {
      pessoas: []
    };
  },
  methods: {
    deletePessoa(id_pessoa) {
      console.log("DELETANDO")
      console.log(id_pessoa)
      this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.getters.getToken}`;

      this.$axios.$delete(`/pessoas?id_pessoa=eq.${id_pessoa}`)
      .then(response => {
        console.log(response);
        this.$router.go('/pessoas')
      });
    }
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      pessoas: await app.$axios.$get("/pessoas")
    }
  }
}
</script>

<style lang="scss">
.cruds__index {
}

.deletar {
  cursor: pointer;
}
</style>
