<template>
  <div class=".cruds__new">
    <h1>Nova Pessoa</h1>
    <div class="new"> Email: <input type="email" v-model="email"/></div>
    <div class="new"> Senha: <input type="password" v-model="password"/></div>
    <div class="new"> CPF: <input type="text" v-model="cpf"/></div>
    <div class="new"> Nome: <input type="text" v-model="nome"/></div>
    <div class="new"> Data de Nascimento: <input type="date" v-model="nascimento"/></div>
    <router-link to='/pessoas'>
      <button type="submit" @submit.prevent>
        Cancelar
      </button>
    </router-link>
    <router-link to='/pessoas'>
      <button type="submit" @click="save" @submit.prevent>
        Salvar
      </button>
    </router-link>
  </div>
</template>

<script>
export default {
   data() {
    return {
      email: null,
      password: null,
      cpf: null,
      nome: null,
      nascimento: null,
    }
  },
  methods: {
    async save() {
        console.log(`Bearer ${this.$store.getters.getToken}`);

        this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.getters.getToken}`;

        const can_access = await this.$axios.$post("/rpc/autorizar",{
          caminho_servico: "/pessoas"
        }, {headers: { Authorization: 'Bearer ' + this.$store.state.token}},)

        console.log("Posso acessar?");
        console.log(can_access);

        let response = await this.$axios.$post(`/pessoas`, {
          cpf: this.cpf,
          nome: this.nome,
          nascimento: this.nascimento,
        })
        .then(response => {
          console.log("POST PESSSOAS SUCESSO")
          console.log(response)
        })
        .catch(function (error) {
          console.log("POST PESSOAS FRACASSO");
          console.log(error);
        });

        let id_criado = '';

        console.log(`nome ${this.nome}`);
        response = await this.$axios.$get(`/pessoas?nome=eq.${this.nome}`)
        .then(value => {
          console.log("GET PESSSOAS SUCESSO")
          console.log(value)
          id_criado = value[0].id_pessoa
        })
        .catch(function (error) {
          console.log("GET PESSOAS FRACASSO");
          console.log(error);
        });

        let id_usuario = '';


        console.log(`email ${this.email} senha ${this.password}`);
        response = await this.$axios.$post(`/rpc/cria_usuario`, {
          email: this.email,
          senha: this.password,
        })
        .then(response => {
          id_usuario = response[0].id_usuario;
          console.log("POST CRIA USUARIOS SUCESSO")
          console.log(response)
        })
        .catch(function (error) {
          console.log("USUARIOS CRIA POST FRACASSO");
          console.log(error);
        });

        console.log(`ID USU:${ id_usuario}`);

        response = await this.$axios.$post(`/pessoas_geram_usuarios`, {
          id_pessoa: id_criado,
          id_usuario: id_usuario,
        })
        .then(response => {
          console.log("POST PESSSOAS GERAM USUARIOS SUCESSO")
          console.log(response)
        })
        .catch(function (error) {
          console.log("PESSOAS GERAM USUARIOS POST FRACASSO");
          console.log(error);
        });

        this.$router.go('/pessoas')


    }
  }
}
</script>

<style lang="scss">
.cruds__new {
  display: flex;
  flex-direction: column;
  align-items: center;

}
</style>
