<template>
  <div class="disciplina">
    <h1>{{ disciplina.codigo_disciplina }}</h1>
    <h2>{{ disciplina.nome }}</h2>
    <h3>Créditos Aula: {{disciplina.creditos_aula}} + {{disciplina.creditos_trabalho}} </h3>
  </div>
</template>

<script>
export default {
   data() {
    return {
      disciplina: '',
    };
  },
  created() {
    this.$axios.$get(`/disciplinas?id_disciplina=eq.${this.$route.params.id}`)
      .then(value => {
        this.disciplina = value[0]
      })
  }
}
</script>

<style lang="scss">
.disciplina{
  display: flex;
  overflow: scroll;
  grid-area: footer;
  place-self: stretch;
  flex-direction: row;
  justify-content: center;
  align-items: left;}
</style>
