<template>
  <div class="planejamento">
    <!-- Example of Vue using some data -->
    <!-- <ol v-for="disciplina in disciplinas" :key="disciplina.id_disciplina">
        <pl class="pl_disc" >
            <di :disciplina="disciplina.codigo_disciplina" > {{disciplina}}</di>
        </pl>
    </ol> -->
    <div class="tracks">
      <Obrigatoria />
    </div>
    <div v-for="trilha of trilhas" :key="trilha.id_trilha" class="tracks">
      <Trilha :id_trilha=trilha.id_trilha :nome=trilha.nome />
    </div>
    <div class="auxtext">
      <p>Clique no círculo da disciplina ou do semestre para mudar o status, e no nome da disciplina para informações.</p>
      <p>Clique no Goku ou no user name para obter acesso a seu perfil.</p>
    </div>
  </div>
</template>

<script>
import Disciplina from '@/components/Disciplina.vue';
import Trilha from '@/components/Trilha.vue';
import Obrigatoria from '@/components/Obrigatoria.vue';

export default {
  components: {
    Obrigatoria,
    Disciplina,
    Trilha
  },
  data() {
    return {
      disciplinas: [],
      trilhas: [],

    };
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      disciplinas: await app.$axios.$get("/disciplinas"),
      trilhas: await app.$axios.$get("/trilhas")
    }
  }
}
</script>

<style>

.planejamento {
  grid-template-areas:
    "filter"
    "track";
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}

.pl_disc {
  align-self: start;
  align-text: left;
}

.tracks{
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  cursor: pointer;
}

.auxtext {
  align-text: center;
  padding: 2em;
}
</style>
