<template>
  <div class=".cruds__index">

    <router-link :to="{
      path: `/administradores`,
      component: 'pages/administradores/index.vue',
      }">
      <button>Administradores</button>
    </router-link>

    <router-link :to="{
      path: `/pessoas`,
      component: 'pages/pessoas/index.vue',
      }">
      <button>Pessoas</button>
    </router-link>

    <router-link :to="{
      path: `/usuarios/show`,
      component: 'pages/usuarios/show.vue',
      }">
      <button>Usuários</button>
    </router-link>

    <router-link :to="{
      path: `/administradores_coordenam_grades`,
      component: 'pages/administradores_coordenam_grade/index.vue',
      }">
      <button>Coordenadores</button>
    </router-link>

  </div>
</template>

<script>

</script>

<style lang="scss">
.cruds__index {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #2962ff;
  font-size: 12pt;
  padding: 1em;
  width: 12em;
}
</style>
