<template>
  <div class=".cruds__index">
    <ol v-for="administrador_coordena_grade of administradores_coordenam_grades"
        :key="administrador_coordena_grade.id_pessoa">
      <li>
        {{administrador_coordena_grade}}
      </li>
    </ol>
    <router-link :to="{
        path: `/administradores_coordenam_grades/new`,
        component: 'pages/administradores_coordenam_grades/new.vue',
        }">
    <a> Novo Administrador Coordena Grade </a>
    </router-link>
  </div>
</template>

<script>
import Administrador_Coordena_Grade from '@/components/Administrador_Coordena_Grade.vue';

export default {
  components: {
    Administrador_Coordena_Grade
  },
  data() {
    return {
      administradores_coordenam_grades: []
    };
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      administradores_coordenam_grades: await app.$axios.$get("/administradores_coordenam_grades")
    }
  }
}
</script>

<style lang="scss">
.cruds__index {
}
</style>
