<template>
  <div class=".cruds__new">
    <h1>Novo Administrador Coordena Grade</h1>
    <div class="new"> Nome: <input type="text" v-model="nome"/></div>
    <div class="new"> Ano da Grade: <input type="date" v-model="ano_grade"/></div>
    <div class="new"> Data de Início: <input type="date" v-model="data_inicio"/></div>
    <div class="new"> Data de Fim: <input type="date" v-model="data_fim"/></div>
    <router-link to='/administradores'>
      <button type="submit" @submit.prevent>
        Cancelar
      </button>
    </router-link>
    <router-link to='/administradores'>
      <button type="submit" @click="save" @submit.prevent>
        Salvar
      </button>
    </router-link>
  </div>
</template>

<script>
export default {
   data() {
    return {
      nome: null,
      ano_grade: null,
      inicio: null,
      fim: null,
    }
  },
  methods: {
    async save() {
        console.log(`Bearer ${this.$store.getters.getToken}`);

        this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.getters.getToken}`;

        let id_criado = '';

        console.log(`nome ${this.nome}`);
        response = await this.$axios.$get(`/pessoas?nome=eq.${this.nome}`)
        .then(value => {
          console.log("GET PESSSOAS SUCESSO")
          console.log(value)
          id_criado = value[0].id_pessoa
        })
        .catch(function (error) {
          console.log("GET PESSOAS FRACASSO");
          console.log(error);
        });

        let nusp_criado = '';

        console.log(`nome ${this.nome}`);
        response = await this.$axios.$get(`/administradores?nome=eq.${this.nome}`)
        .then(value => {
          console.log("GET PESSSOAS SUCESSO")
          console.log(value)
          nusp_criado = value[0].nusp_administrador
        })
        .catch(function (error) {
          console.log("GET PESSOAS FRACASSO");
          console.log(error);
        });

         console.log({
            id_pessoa: id_criado,
            nusp_administrador: nusp_criado,
            ano_grade: this.ano_grade,
            inicio: this.inicio,
            fim: this.fim
          })

          response = await this.$axios.$post(`/administradores_coordenam_grades`, {
          id_pessoa: id_criado,
          nusp_administrador: nusp_criado,
          ano_grade: this.ano_grade,
          inicio: this.inicio,
          fim: this.fim
        })
        .then(response => {
          console.log("POST ADMINISTRADORES SUCESSO")
          console.log(response)
        })
        .catch(function (error) {
          console.log("ADMINISTRADORES POST FRACASSO");
          console.log(error);
        });

        this.$router.go('/administradores_coordenam_grades')


    }
  }
}
</script>

<style lang="scss">
.cruds__new {
  display: flex;
  flex-direction: column;
  align-items: center;

}
</style>
