<template>
  <div class=".cruds__index">
    <ol v-for="usuario of usuarios" :key="usuario.id_usuario">
      <li>
        {{usuario}}
      </li>
    </ol>
  </div>
</template>

<script>
import Usuario from '@/components/Usuario.vue';

export default {
  components: {
    Usuario
  },
  data() {
    return {
      usuarios: []
    };
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      usuarios: await app.$axios.$get("/usuarios")
    }
  }
}
</script>

<style lang="scss">
.cruds__index {
}
</style>
