<template>
    <div>
      {{administrador_coordena_grade.id_pessoa}}
    </div>
</template>

<script>
export default {
  props: ['id_pessoa'],

  data() {
    return {
      administradores_coordenam_grades: [],
    };
  },

  created() {
    this.$axios.$get(`/administradores_coordenam_grades?id_pessoa=eq.${this.id_pessoa}`)
      .then(value => {
        this.administrador_coordena_grade = value[0]
      })
  },
}

</script>

<style>

</style>
