<template>
    <div>
      {{administrador.id_pessoa}}
    </div>
</template>

<script>
export default {
  props: ['id_pessoa'],

  data() {
    return {
      administradores: [],
    };
  },

  created() {
    this.$axios.$get(`/administradores?id_pessoa=eq.${this.id_pessoa}`)
      .then(value => {
        this.administrador = value[0]
      })
  },
}
</script>

<style>

</style>
