<template>
  <div class="aside__login">
      <!--<img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png" -->
    <!--style="max-width: 30%; max-height: 30%; display: block; margin: 0 auto"/>-->
    <router-link :to="{
      path: `/perfil`,
      component: 'pages/perfil.vue',
      }">
    <img class="loginimg" src="../assets/goku.png"/>
    <p class="logintext"> Oi, eu sou {{name}}!</p>

    </router-link>
    <button class="logout" type="submit" @click="logout" @submit.prevent>
    SAIR</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
        name: null,
        id: null,
    }
  },

  methods: {
    async logout() {
      // TODO: Implement login logic here
      // TIP: Method is `async` because it should use "await this.$axios"

      // Save token at global vuex store to be used by auth middleware
      this.$store.commit("setToken", { token: "" });
      this.$store.commit("setEmail", { email: "" });
      this.$router.go({path: "/"});
    }
  },
  async mounted() {
            let parsedToken = JSON.parse(atob(this.$store.state.token.split('.')[1]));
            console.log('parsedToken');
            console.log(parsedToken);

            this.id = parsedToken.id_usuario;
            let personUser = await this.$axios.$get(`/pessoas_geram_usuarios?id_usuario=eq.${parsedToken.id_usuario}`);
            console.log(personUser);
            let person = await this.$axios.$get(`/pessoas?id_pessoa=eq.${personUser[0].id_pessoa}`);
            console.log(person[0]);
            this.name = person[0].nome;
        },

}
</script>

<style lang="scss">
.aside__login {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.logintext {
  color: white;
  font-size: 12pt;
  align-content: center;
}

.loginimg {
  display: block;
  width: 2.5rem;
  height: auto;
  align-self: center;
}


.logout {
    align-content: right;
    color: white;
    font-size: 12pt;
    height: 30px;
    margin-bottom: 50px;
    width: 100%;
}

</style>
