<template>
  <div class="aside_login">
    <div class="login" @click="show()"> Fazer Login </div>

    <div v-if="pop_up">
      <div class="dim"  title="Event"></div>
      <div class="center">
        <div @click="cancel()" class="cancel-login"> x </div>
        Email
        <input type="email" v-model="email"/>
        Senha
        <input type="password" @keyup.enter="login" v-model="password"/>

        <button type="submit" @click="login" @submit.prevent>
          Entrar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      pop_up: false
    }
  },

  methods: {
    async login() {
      // TODO: Implement login logic here
      // TIP: Method is `async` because it should use "await this.$axios"
      console.log(`User: ${this.email} ${this.password}`);

      let token = await this.$axios.$post("/rpc/autenticar",{ email: this.email, senha: this.password });

      this.$axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
      console.log('token');
      console.log(token);

      // Save token at global vuex store to be used by auth middleware

      this.$store.commit("setToken", { token: token });
      this.$store.commit("setEmail", { email: this.email });

      this.cancel();
    },

    show() {
      this.pop_up = true;
    },

    cancel() {
      this.pop_up = false;
    }

  }
}
</script>

<style lang="scss">

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;

  height: 20em;
  width: 20em;
  border-radius: 0.8em;
  background-color: white;
  z-index:1;

  position: absolute;
  color: #2962ff;
}

.aside_login {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login {
  font-size: 1.5em;
  color: white;
}

.cancel-login {
  color: grey;
  font-size: 2.0em;
  text-align: right;
  margin-bottom: 0em;
}

.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1;
    background-color:black;
    opacity: 0.50;
}

input {
  width: 100%;
  height: 5em;
  margin-bottom: 2em;
  border: none;
  border-bottom: 2px solid gray;
}

button{
  margin-top: 2em;
  background-color: #2962ff;
  border: none;
  height: 5em;
  color: white;
  cursor: pointer;
}

</style>
