<template>
    <div>
        <div class="module-title"> {{codigo_modulo}} </div>
        <div class="disciplines">
            <div v-for="materia of materias"
                :key="materia.id_disciplina">
                <Disciplina :status="''"
                        :codigo="materia.codigo_disciplina"/>
            </div>
        </div>
    </div>
</template>

<script>
import Disciplina from './Disciplina.vue'

export default {
    data() {
        return {
            disciplines: [],
            materias: []
        }
    },

    props: {
        codigo_modulo: '',
        id_modulo: ''
    },

    async mounted() {
      this.disciplines = await this.$axios.$get(`/optativas_compoem_modulos?id_modulo=eq.${this.id_modulo}`);

      var i;
      for (i = 0; i < this.disciplines.length; i++) {
        var tmp = await this.$axios.$get(`/disciplinas?id_disciplina=eq.${this.disciplines[i].id_disciplina}`);

        var j;
        for (j = 0; j < tmp.length; j++) {
          this.materias.push(tmp[j]);
        }
      }
    },

    components: {
        Disciplina
    }
}
</script>

<style lang="scss">
.disciplines {
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;

  padding: 0.5em;
  margin-bottom: 0.5em;
}

.module-title {
    color:blue;
}
</style>
