<template>
    <div>
        <div @click="changeView()"
             class="trail-title">
            <div v-if="!toggle_module"
                 class="right-bull"> &#x2023; </div>
            <div v-else
                 class="down-bull"> &#x2023; </div>
            <div> Obrigatórias </div>
        </div>
        <div class="modules"
             v-if="toggle_module">
                <div>
                    <div class="disciplines">
                      <div v-for="obrigatoria of obrigatorias"
                          :key="obrigatoria.id_disciplina">
                        <Disciplina :status="''"
                                :codigo="obrigatoria.codigo_disciplina"/>
                      </div>
                    </div>
                </div>
        </div>
    </div>
</template>


<script>
import Modulo from './Modulo.vue';
import Disciplina from './Disciplina.vue';

export default {
    data(){
        return {
            obrigatorias: [],
            toggle_module: false
        }
    },

    components: {
        Modulo,
        Disciplina
    },

    props: {
        nome: '',
        id_trilha: ''
    },

    async mounted() {
      var disciplines = await this.$axios.$get(`/grade_obrigatoria`);

      var i;
      for (i = 0; i < disciplines.length; i++) {
        var tmp = await this.$axios.$get(`/disciplinas?id_disciplina=eq.${disciplines[i].id_disciplina}`);

        var j;
        for (j = 0; j < tmp.length; j++) {
          this.obrigatorias.push(tmp[j]);
        }
      }
      console.log(this.obrigatorias);
    },

    methods: {
        changeView() {
            this.toggle_module = !this.toggle_module;
        }
    }
}
</script>

<style lang="scss">

.modules {
  align-self: center;
  margin: 1em 0em;
  padding: 1em;

  height: auto;
  width: 65vw;
  border-radius: 1em;

  background-color: white;

}

.trail-title {
    display: flex;
    align-items: center;

    color: blue;
}

.right-bull {
    font-size: 2em;
    margin-right: 0.25em;

}

.down-bull {
    font-size: 2em;
    transform:rotate(90deg);
    margin-right: 0.25em;
}

</style>

