<template>
    <div>
      {{pessoa.id_pessoa}}
    </div>
</template>

<script>
export default {
  props: ['id_pessoa'],

  data() {
    return {
      pessoas: [],
    };
  },

  created() {
    this.$axios.$get(`/pessoas?id_pessoa=eq.${this.id_pessoa}`)
      .then(value => {
        this.pessoa = value[0]
      })
  },
}

</script>

<style>

</style>
