<template>
  <aside class="aside">
    <button class="login_top" style="margin: 0;">
        <sign v-if="signed_in">
            <Authenticated/>
        </sign>
        <sign v-else>
          <login/>
        </sign>
    </button>
  </aside>

</template>

<script>
import Login from '@/components/Login.vue';
import Authenticated from '@/components/Authenticated.vue';

export default {
  components: {
    Login,
    Authenticated
  },

  computed:{
    signed_in() {
        return this.$store.getters.isAuthenticated;
    },
  },
}
</script>

<style>
.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  justify-self: stretch;

  min-width: 150px;
  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: #e0e0e0; /* material gray */
}

.login_top {
  background-color: #2962ff; /* material blue */
  text-align: left;
  align-content: left;
  color: white;
  border: none;
  display: flex;
  width: 100%;
  height: 30vh;
}
</style>
