<template>
  <footer class="footer">
    <sign v-if="signed_in">
      <p> Clique no botão no canto inferior direito para atualizar a contagem de créditos</p>
      <button v-if="signed_in"
      style="background-color: #F85B1A; margin: 0; float: right; height: 40%" @click="increment()" >ATUALIZAR</button>
      <cred class="credits">
        <bar v-for="bar of progress" :key="bar.bar" class="bar">
          <ti class="title">{{bar.bar}}</ti>
          <pro class="progress">
            <ps1 class="bar-style1"
            v-bind:style="{width: feitas +'%', backgroundColor: '#2962ff'}"></ps1>
            <ps2 class="bar-style2"
            v-bind:style="{width: fazendo +'%', backgroundColor: '#F85B1A'}"></ps2>
          </pro>
        </bar>
      </cred>
    </sign>
    <sign v-else>
      <div class="footerloggedoff"></div>
    </sign>
  </footer>
</template>

<script>
export default {
   data() {
    return {
      feitas: 0,
      fazendo: 0,
      progress: [{bar: "Obrigatórias", p1:"0%", p2:"0%"},
                 {bar: "Eletivas", p1:"0%", p2:"0%"}]
    };
  },

  computed:{
    signed_in() {
      return this.$store.getters.isAuthenticated;
    },
  },
    created() {
      this.feitas = 0;
      this.fazendo = 0;
  },
  methods: {
    increment() {
        this.feitas = this.$store.getters.getDiscFeitas;
        this.fazendo = this.$store.getters.getDiscFazendo;
    }
  }
}
</script>

<style>
.footer {
  /* Grid to position the cell itself */
  grid-area: footer;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  grid-template-areas: "down";

  padding: 0 5vw 0 5vw;
  background-color: white
}

.credits {
  grid-area: "down";
  display:flex;
  justify-content: space-between;
  margin: 1em;
}

.bar {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.5em;
}

.title {
  color: black;
  margin: 0em;
  margin-bottom: 0.4em;
  font-size: 1.5em;
}

.progress {
  display: flex;
  justify-content: flex-start;
  width: 30em;
  height: 1em;

  background-color: #e0e0e0;
  border-radius: 0.8em;
}

.bar-style {
    border-radius: .4em;
}

.footerloggedoff {

}
</style>
