<template>
  <nav class="navbar">
    <div class="navtop">
      <router-link :to="{
        path: `/`, 
        component: 'index.vue', 
        }">
        <img class="logo" src="../static/DBZ_logo.svg">
      </router-link>
      <button v-if="signed_in" style="background-color: #F85B1A; margin: 0; float: right; height: 40%">SALVAR</button>
    </div>
    <div class="semestre">
      <div v-for="semestre in semestres" :key="semestre.id"> {{semestre}} </div>
    </div>
  </nav>
</template>

<script>
    export default {
      data() {
        return {
          semestres: ["Semestres: Geral | ", "1° | ", "2° | ", "3° | ", "4° | ", "5° | ", "6° | ", "7° | ", "8° | ",
          "+ Adicionar"]
        };
      },
      computed:{
        signed_in() {
          return this.$store.getters.isAuthenticated;
        },
      }
    }
</script>


<style>
.navbar {
  /* Grid to position the cell itself */
  grid-area: navbar;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;

}

.navtop {
  align-content: stretch;
  width: 100%;
  height: 10vh;
  background-color: #2962ff;
}

.logo {
  height: 10vh;
  background-color: #2962ff; /* material blue */
}

.semestre {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    align-self: center;
    justify-content: center;

    background-color: #e0e0e0;
}

</style>
