<template>
    <div>
        <div @click="changeTrailView()"
             class="trail-title">
            <div v-if="!toggle_module"
                 class="right-bull"> &#x2023; </div>
            <div v-else
                 class="down-bull"> &#x2023; </div>
            <div>{{ nome }}</div>
        </div>
        <div class="modules"
             v-if="toggle_module">
            <div v-for="modulo of modulos"
                :key="modulo.id_modulo">
                <Modulo :codigo_modulo=modulo.codigo_modulo :id_modulo=modulo.id_modulo />
            </div>
        </div>
    </div>
</template>


<script>
import Modulo from './Modulo.vue';

export default {
    data(){
        return {
            modulos: [],
            toggle_module: false
        }
    },

    components: {
        Modulo
    },

    props: {
        nome: '',
        id_trilha: ''
    },

    async mounted() {
        this.modulos = await this.$axios.$get(`/modulos?id_trilha=eq.${this.id_trilha}`);
        console.log(this.modulos);
    },

    methods: {
        changeTrailView() {
            this.toggle_module = !this.toggle_module;
        }
    }
}
</script>

<style lang="scss">

.modules {
  align-self: center;
  margin: 1em 0em;
  padding: 1em;

  height: auto;
  width: 65vw;
  border-radius: 1em;

  background-color: white;

}

.trail-title {
    display: flex;
    align-items: center;

    color: blue;
}

.right-bull {
    font-size: 2em;
    margin-right: 0.25em;

}

.down-bull {
    font-size: 2em;
    transform:rotate(90deg);
    margin-right: 0.25em;
}

</style>

