<template>
    <div>
      {{usuario.id_pessoa}}
    </div>
</template>

<script>
export default {
  props: ['id_usuario'],

  data() {
    return {
      usuarios: [],
    };
  },

  created() {
    this.$axios.$get(`/auth.usuarios?id_usuario=eq.${this.id_usuario}`)
      .then(value => {
        this.usuario = value[0]
      })
  },
}

</script>

<style>

</style>
