<template>
  <div class=".cruds__index">
    <ol v-for="administrador of administradores" :key="administrador.id_pessoa">
      <li>
        {{administrador}}
      </li>
    </ol>
    <router-link :to="{
        path: `/administradores/new`,
        component: 'pages/administradores/new.vue',
        }">
    <a> Novo Admin </a>
    </router-link>
  </div>
</template>

<script>
import Administrador from '@/components/Administrador.vue';

export default {
  components: {
    Administrador
  },
  data() {
    return {
      administradores: []
    };
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      administradores: await app.$axios.$get("/administradores")
    }
  }
}
</script>

<style lang="scss">
.cruds__index {
}
</style>
